/* Body */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black ; 
}
/* Navbar */
#logo{
    width: 100px;
}
#user{
    width: 30px;
}
.navbar{
    background-color: black !important;
    
}
/* Tv shows */
/* .generi{
    box-sizing: border-box;
    border: 1px solid white
} */


/*  Carosello */
.card:hover{
    transform: scale(1.20);
    z-index: 2;
    transition: 0.3s;
}
/* Footer */
.social > ion-icon{
    width: 30px;
    height: 30px;
}

div.social>ul{
    list-style-type: none;     
}
div.container>ul{
    list-style-type: none;
}

div.service{
    width: 110px;
    box-sizing: border-box;
    border: 1px solid white;
}

/* Animazione */

@keyframes animazione{
    0% {
        transform: translateX(-100%);
        
      }
      100% {
        transform: translateX(0);
        
      }
    }
@keyframes animazione2 {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
        
      }
      100% {
        transform: translateX(0);
        
      }
    
}
#secondo{
    animation: 5s ease-out 0s 1 animazione
}
#terzo{
    
    animation: 10s ease-out 0s 1 animazione2
}